@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

*{
  font-family: "Roboto", sans-serif;
}

@theme{
  --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
  
}

.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 25px;
  right: 25px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.whatsapp_float:hover {
  transform: scale(1.1);
}

.whatsapp-icon {
  margin-top: 0;
}
